// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.item-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.item-container:hover {
  background-color: #efefef;
  border-radius: 5px;
}

.item-content, .item-btn {
  display: flex;
  padding: 1em;
}

.item-content {
  flex-direction: column;
}

.item-btn {
  flex-direction: row;
}

.container {
  margin: 0 auto;
  width: 90%;
}

i {
  margin: 1em;
}
